<div>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-warning-sign"></span>
        This site is <strong>Under Construction</strong>.
    </div>
    <h4>First iteration of my personal blog.</h4>
    <p>The source code is available at <a href="https://github.com/mkamayd/mkamayd.github.io" title="GitHub" class="si si-small si-github"></a> under the following <a href="https://github.com/mkamayd/mkamayd.github.io/blob/master/LICENSE">MIT license</a>.</p>
    <h4>MIT License</h4>
    <p>It is a permissive free software license, meaning that it permits reuse within proprietary software provided all copies of the licensed software include a copy of the MIT License terms and the copyright notice.</p>
    <h4>To Do</h4>
    <ul>
        <li>Add all the Projects and Skills</li>
        <li>Skills
            <ul>
                <li>select2 search</li>
            </ul>
        </li>
        <li>Projects
            <ul>
                <li>Clients</li>
            </ul>
        </li>
    </ul>
</div>
