<div>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-warning-sign"></span>
        This site is <strong>Under Construction</strong>.
    </div>
    <div class="row">
        <div class="col-md-9 col-md-push-3">
            <h4>Features</h4>
            <ul>
                <li>Resposive design.</li>
                <li>Easy to reuse.</li>
            </ul>
            <h4>License</h4>
            <p>The source code is available at <a href="https://github.com/mkamayd/mkamayd.github.io" title="GitHub" class="si si-small si-github"></a> under the following <a href="https://github.com/mkamayd/mkamayd.github.io/blob/master/LICENSE">MIT license</a>.</p>
            <p>It is a permissive free software license, meaning that it permits reuse within proprietary software provided all copies of the licensed software include a copy of the MIT License terms and the copyright notice.</p>
        </div>
        <div class="col-md-3 col-md-pull-9">
            <img class="img-thumbnail img-responsive" src="images/migue2.png" />
        </div>
    </div>
</div>
