<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-cog"></span>
            Professional Experience
        </div>
        <div class="panel-body">
            <div ng-repeat="company in companies">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div id="{{company.shortName}}" class="company">
                        </div>
                    </div>
                    <div class="panel-body">
                        <mgk-interval class="text-right" start-date="company.startDate" end-date="company.endDate"></mgk-interval>
                        <p class="text-right">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            {{company.location}}
                        </p>
                        <p>
                            {{company.role}} at
                            <a ng-href="{{company.url}}">
                                <strong>{{company.name}}</strong>
                            </a>
                        </p>

                        <strong>My Projects at {{company.name}} ({{company.shortName}})</strong>
                        <ul class="nav nav-tabs nav-justified">
                            <li ng-class="{active: project === selectedProject}" ng-repeat="project in company.projects">
                                <a ng-click="selectProject(project)">
                                    {{project.name}}
                                </a>

                            </li>
                        </ul>
                        <div class="tab-content">
                            <p ng-hide="selectedProject.company == company">Please select a tab to see project details.</p>
                            <div ng-show="selectedProject.company == company">
                                <h3>
                                    {{selectedProject.name}}
                                </h3>
                                <h4>Project Started at {{selectedProject.startDate.format('MMMM  YYYY')}}.</h4>
                                <p>{{selectedProject.description}}</p>
                                <p ng-show="selectedProject.url">External info about {{selectedProject.name}} can be found <a ng-href="{{selectedProject.url}}">here</a>.</p>
                                <p ng-show="selectedProject.skills.length">
                                    Skill I have used in {{selectedProject.name}}
                                    <center>
                                        <div class="btn-group">
                                            <a ng-repeat="skill in selectedProject.skills" class="btn btn-default btn-xs" ui-sref="skills({selected:skill.name})">
                                                <span ng-show="skill.weapon" class="glyphicon glyphicon-screenshot"></span>
                                                {{skill.name}}
                                            </a>
                                        </div>
                                    </center>
                                </p>
                                <p ng-show="selectedProject.members.length">
                                    Project members:
                                    <a ng-click="showMembersProject=true" ng-hide="showMembersProject">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    <a ng-click="showMembersProject=false" ng-show="showMembersProject">
                                        <span class="glyphicon glyphicon-eye-close"></span>
                                    </a>
                                    <ul ng-show="showMembersProject" class="media-list">
                                        <li class="media" ng-repeat="person in selectedProject.members">
                                            <span class="pull-left">
                                                <img id="{{person.shortName}}" class="person" />
                                            </span>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{person.name}}</h4>
                                                <strong>{{person.title}}</strong>
                                                <a title="BSL LinkedIn" class="si-circle si-medium si-colored si-linkedin" ng-href="{{person.linkedInURL}}"></a>
                                            </div>
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>

                        <p ng-show="company.team.length">
                            The team:
                            <a ng-click="showMembers=true" ng-hide="showMembers">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a ng-click="showMembers=false" ng-show="showMembers">
                                <span class="glyphicon glyphicon-eye-close"></span>
                            </a>
                            <ul ng-show="showMembers" class="media-list">
                                <li class="media" ng-repeat="person in company.team">
                                    <span class="pull-left">
                                        <img id="{{person.shortName}}" class="person" />
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading">{{person.name}}</h4>
                                        <strong>{{person.title}}</strong>
                                        <a title="BSL LinkedIn" class="si-circle si-medium si-colored si-linkedin" ng-href="{{person.linkedInURL}}"></a>
                                    </div>
                                </li>
                            </ul>
                        </p>
                        <div class="pull-right">
                            <a class="si-square si-medium si-colored" ng-repeat="social in company.socialLinks" ng-class="social.className" ng-href="{{social.url}}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
