<div>
    <div class="panel panel-primary">
        <div class="panel-heading">Miguel's Summary</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <img  itemprop="image" src="images/migue.png" style="width: 222px;" alt="Miguel"  class="img-thumbnail center-block">
                </div>
                <div class="col-md-7">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-user"></span>
                            <strong>Name:</strong>
                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <span itemprop="name">Miguel Gutierrez Kamayd</span>
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-certificate"></span>
                            <strong>Title:</strong>
                            <span>Senior Software Developer</span>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <strong>Location:</strong>
                            <span>London, United Kingdom</span>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-comment"></span>
                            <strong>Languages:</strong>
                            <span>English, Spanish and French.</span>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-heart"></span>
                            <strong>Hobbies:</strong>
                            Learning, Developing and having fun.
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <strong>Email:</strong>
                            <a href="mailto:kamayd@gmail.com">
                                kamayd@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p>Professional, highly qualified and passionate Senior Software Developer based in London. Strong hands-on experience in software applications design and development using Microsoft and other tools, web technologies, TDD and Design Patterns. Self motivated with good problems-solving skills and fast learning abilities, used to developing quality software under strict deadlines.</p>
            <p>
                <strong>My Weapons of Choice
                    <span class="glyphicon glyphicon-screenshot"></span>
                </strong>
                <center>
                    <div class="btn-group">
                        <a ng-repeat="skill in skills|filter:{weapon:true}" class="btn btn-default btn-xs" ui-sref="skills({selected:skill.name})">
                            {{skill.name}}
                        </a>
                    </div>
                </center>
            </p>
            <p>
                <strong>Other Skills</strong>
                <center>
                    <div class="btn-group">
                        <a ng-repeat="skill in skills|filter:{weapon:false}" class="btn btn-default btn-xs" ui-sref="skills({selected:skill.name})">
                            {{skill.name}}
                        </a>
                    </div>
                </center>
            </p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Work</div>
        <div class="panel-body">
            <div ng-repeat="company in companies">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div id="{{company.shortName}}" class="company">
                        </div>
                    </div>
                    <div class="panel-body">
                        <mgk-interval class="text-right" start-date="company.startDate" end-date="company.endDate"></mgk-interval>
                        <p class="text-right">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            {{company.location}}
                        </p>
                        <p>{{company.role}} at
                            <a ng-href="{{company.url}}">
                                <strong>{{company.name}}</strong>
                            </a>
                        </p>
                        <p ng-show="company.team.length">
                            The team:
                                <a ng-click="showMembers=true" ng-hide="showMembers">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <a ng-click="showMembers=false" ng-show="showMembers">
                                    <span class="glyphicon glyphicon-eye-close"></span>
                                </a>
                            <ul ng-show="showMembers" class="media-list">
                                <li class="media" ng-repeat="person in company.team">
                                        <span class="pull-left">
                                            <img id="{{person.shortName}}" class="person"/>
                                        </span>
                                    <div class="media-body">
                                        <h4 class="media-heading">{{person.name}}</h4>
                                        <strong>{{person.title}}</strong>
                                        <a title="BSL LinkedIn" class="si-circle si-medium si-colored si-linkedin" ng-href="{{person.linkedInURL}}"></a>
                                    </div>
                                </li>
                            </ul>
                        </p>
                        <p>
                            <strong>My Projects at {{company.name}}</strong>
                            <center>
                                <div class="btn-group">
                                    <a ng-repeat="project in company.projects" class="btn btn-default btn-xs" ui-sref="projects({selected:project.name})">
                                        {{project.name}}
                                    </a>
                                </div>
                            </center>
                        </p>
                        <div class="pull-right">
                            <a class="si-square si-medium si-colored" ng-repeat="social in company.socialLinks" ng-class="social.className" ng-href="{{social.url}}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Education</div>
        <div class="panel-body">
            <p>Bachelor of Science <strong>(BSc)</strong>, (2:1 Honours)</p>
            <p><strong>Computer Science</strong> at the Faculty of Mathematics and Computer Science, <strong>University of Havana</strong>, Cuba.</p>
        </div>
    </div>
</div>
