<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-file"></span>
            Miguel's Summary
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <img  itemprop="image" src="images/migue.png" style="width: 222px;" alt="Miguel"  class="img-thumbnail center-block">
                </div>
                <div class="col-md-7">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-user"></span>
                            <strong>Name:</strong>
                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <span itemprop="name">Miguel Gutierrez Kamayd</span>
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-certificate"></span>
                            <strong>Title:</strong>
                            <span>Senior Web Developer Consultant</span>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <strong>Location:</strong>
                            <span>Miami, Florida USA</span>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-comment"></span>
                            <strong>Languages:</strong>
                            <span>English, Spanish and French.</span>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-cog"></span>
                            <strong>Work:</strong>
                            Carnival Cruise Lines
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <strong>Email:</strong>
                            <a href="mailto:kamayd@gmail.com">
                                kamayd@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p>Professional, highly qualified and passionate full stack Senior Software Developer based in Miami, FL, USA. Strong hands-on experience in software applications design and development using Microsoft and other tools, web technologies, TDD and Design Patterns. Self motivated with good problems-solving skills and fast learning abilities, used to developing quality software under strict deadlines. Some of the clients I had work for in the UK are the Bank of England, United Kingdom Police Forces, National Health Service (NHS) and the National Air Traffic Services (NATs). I am a Sr. Web Developer at Carnival Cruise Lines (USA). I like to develop apps and games with my friends and family in my free time.</p>
            <div class="hidden-xs">
                <p>
                    <strong>
                        My Weapons of Choice
                        <span class="glyphicon glyphicon-screenshot"></span>
                    </strong>
                    <center>
                        <div class="btn-group">
                            <a ng-repeat="skill in skills|filter:{weapon:true}" class="btn btn-default btn-xs" ui-sref="skills({selected:skill.name})">
                                {{skill.name}}
                            </a>
                        </div>
                    </center>
                </p>
                <p>
                    <strong>Other Skills</strong>
                    <center>
                        <div class="btn-group">
                            <a ng-repeat="skill in skills|filter:{weapon:false}" class="btn btn-default btn-xs" ui-sref="skills({selected:skill.name})">
                                {{skill.name}}
                            </a>
                        </div>
                    </center>
                </p>
                <p>
                    <strong>Navigate to Skill</strong>
                    <ui-select ng-model="selected.skill" on-select="navigate($model)" style="width: 100%;">
                        <ui-select-match placeholder="Navigate to Skill">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="skill in skills | filter:{name: $select.search}">
                            <span ng-show="skill.weapon" class="glyphicon glyphicon-screenshot"></span>
                            <span ng-bind-html="skill.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-certificate"></span>
            Courses
        </div>
        <div class="panel-body">
            <div ng-repeat="course in courses">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>{{course.name}}</span>
                    </div>
                    <div class="panel-body">
                        <mgk-interval class="text-right" start-date="course.startDate" end-date="course.endDate"></mgk-interval>
                        <p class="text-right">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            {{course.location}}
                        </p>
                        <p>{{course.info}}</p>
                        <div class="pull-right">
                            <a class="si-square si-medium si-colored" ng-repeat="social in course.socialLinks" ng-class="social.className" ng-href="{{social.url}}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
        <span class="glyphicon glyphicon-education"></span>
            Education
        </div>
        <div class="panel-body">
            <mgk-interval class="text-right" start-date="uni.startDate" end-date="uni.endDate"></mgk-interval>
            <p class="text-right">
                <span class="glyphicon glyphicon-map-marker"></span>
                {{uni.location}}
            </p>
            <p>Bachelor of Science <strong>(BSc)</strong>, (2:1 Honours)</p>
            <p><strong>Computer Science</strong> at the Faculty of Mathematics and Computer Science, <strong>University of Havana</strong>, Cuba.</p>
            <img src="images/uh.jpg" class="img-thumbnail img-responsive" />
        </div>
    </div>
</div>
