<div>
    <h1>Senior Software Developer</h1>
    <h3>
        <span class="glyphicon glyphicon-map-marker"></span>
        London, United Kingdom
    </h3>
    <div class="panel panel-primary">
        <div class="panel-heading">Summary</div>
        <div class="panel-body">
            <p>Professional, highly qualified and passionate Senior Software Developer based in London. Strong hands-on experience in software applications design and development using Microsoft and other tools, web technologies, TDD and Design Patterns. Self motivated with good problems-solving skills and fast learning abilities, used to developing quality software under strict deadlines.</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Currently Working</div>
        <div class="panel-body">
            <p>As Senior Software Developer for <a href="http://www.businesssystemsuk.co.uk/">Business Systems UK Ltd</a></p>
            <a href="https://www.linkedin.com/company/business-systems-uk-ltd">BSL linkedin</a>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Education</div>
        <div class="panel-body">
            <p>Bachelor of Science (BSc), (2:1 Honours)</p>
            <p>Computer Science at the Faculty of Mathematics and Computer Science, University of Havana, Cuba. As part of the requirements of my diploma project, I contributed to the design and implementation of the first Cuban Simulator for Minimal Access Surgery. I developed in C++ the integration between Ogre3D and PhysX, I also made the simulation of the suture thread and soft organs, developing shaders in HLSL for performance issues (2010). I was involved as well in many others projects throughout my studies, such as the design and implementation of a compiler for Tiger programming language as final project of the Compilers course [C#, MSIL, ANTLR] (2009).</p>
        </div>
    </div>
</div>
