<div>
    <h1>To do..</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">Weapons of choice</div>
        <div class="panel-body">
            <strong>Client Side</strong>
            <p><a href="https://angularjs.org/">AngularJS</a>, <a href="http://gruntjs.com/">Grunt</a>, <a href="http://bower.io/">Bower</a>, <a href="https://www.npmjs.com/">Npm</a></p>
            <strong>Server Side</strong>
            <p><a href="http://nancyfx.org/">NancyFx</a>, <a href="http://www.asp.net/mvc">ASP.NET MVC</a></p>
            <strong>Database</strong>
            <p>Postgres, Redis</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Skills</div>
        <div class="panel-body">
            <ul>
                <li>Software Development</li>
                <li>Web Development</li>
                <li>Problem Solving</li>
                <li>AngularJS</li>
                <li>C#</li>
                <li>JavaScript</li>
                <li>ASP.NET MVC</li>
                <li>SQL</li>
            </ul>
        </div>
    </div>
</div>
